<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group1.carecenter.mapper.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.group1.carecenter.entity.Admin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="adminname" property="adminname" jdbcType="VARCHAR" />
    <result column="adminpassword" property="adminpassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, adminname, adminpassword
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admins
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admins
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group1.carecenter.entity.Admin" >
    insert into admins (id, adminname, adminpassword
      )
    values (#{id,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, #{adminpassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group1.carecenter.entity.Admin" >
    insert into admins
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adminname != null" >
        adminname,
      </if>
      <if test="adminpassword != null" >
        adminpassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminname != null" >
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpassword != null" >
        #{adminpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group1.carecenter.entity.Admin" >
    update admins
    <set >
      <if test="adminname != null" >
        adminname = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpassword != null" >
        adminpassword = #{adminpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group1.carecenter.entity.Admin" >
    update admins
    set adminname = #{adminname,jdbcType=VARCHAR},
      adminpassword = #{adminpassword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>