<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group1.carecenter.mapper.EvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.group1.carecenter.entity.Evaluate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nurseid" property="nurseid" jdbcType="INTEGER" />
    <result column="clientid" property="clientid" jdbcType="INTEGER" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nurseid, clientid, mark, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userevaluate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userevaluate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group1.carecenter.entity.Evaluate" >
    insert into userevaluate (id, nurseid, clientid, 
      mark, remark)
    values (#{id,jdbcType=INTEGER}, #{nurseid,jdbcType=INTEGER}, #{clientid,jdbcType=INTEGER}, 
      #{mark,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.group1.carecenter.entity.Evaluate" >
    insert into userevaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nurseid != null" >
        nurseid,
      </if>
      <if test="clientid != null" >
        clientid,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nurseid != null" >
        #{nurseid,jdbcType=INTEGER},
      </if>
      <if test="clientid != null" >
        #{clientid,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group1.carecenter.entity.Evaluate" >
    update userevaluate
    <set >
      <if test="nurseid != null" >
        nurseid = #{nurseid,jdbcType=INTEGER},
      </if>
      <if test="clientid != null" >
        clientid = #{clientid,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group1.carecenter.entity.Evaluate" >
    update userevaluate
    set nurseid = #{nurseid,jdbcType=INTEGER},
      clientid = #{clientid,jdbcType=INTEGER},
      mark = #{mark,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>